<HTML>
<HEAD>
<TITLE>MysTemplate-Threeway</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>
<!-- ImageReady Slices (MysTemplate-Threeway) -->
<TABLE WIDTH=692 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=7>
			<IMG SRC="images/MysTemplate-Threeway_01.png" WIDTH=692 HEIGHT=8 ALT=""></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2>
			<IMG SRC="images/MysTemplate-Threeway_02.png" WIDTH=17 HEIGHT=446 ALT=""></TD>
		<TD>
			<IMG SRC="images/left.png" WIDTH=150 HEIGHT=130 ALT=""></TD>
		<TD ROWSPAN=2>
			<IMG SRC="images/MysTemplate-Threeway_04.png" WIDTH=25 HEIGHT=446 ALT=""></TD>
		<TD>
			<IMG SRC="images/center.png" WIDTH=300 HEIGHT=130 ALT=""></TD>
		<TD ROWSPAN=2>
			<IMG SRC="images/MysTemplate-Threeway_06.png" WIDTH=25 HEIGHT=446 ALT=""></TD>
		<TD>
			<IMG SRC="images/right.png" WIDTH=150 HEIGHT=130 ALT=""></TD>
		<TD ROWSPAN=2>
			<IMG SRC="images/MysTemplate-Threeway_08.png" WIDTH=25 HEIGHT=446 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/MysTemplate-Threeway_09.png" WIDTH=150 HEIGHT=316 ALT=""></TD>
		<TD>
			<IMG SRC="images/MysTemplate-Threeway_10.png" WIDTH=300 HEIGHT=316 ALT=""></TD>
		<TD>
			<IMG SRC="images/MysTemplate-Threeway_11.png" WIDTH=150 HEIGHT=316 ALT=""></TD>
	</TR>
</TABLE>
<!-- End ImageReady Slices -->
</BODY>
</HTML>